@model IEnumerable<CarRental.Models.RentalModel>

@{
    ViewBag.Title = "ListRental";
}

<h2>ListRental</h2>

<p>
    @Html.ActionLink("Create New", "AddRental")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.GovernmentPlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Brand.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.CarType.CarType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfIssue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.GovernmentPlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarType.CarType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateRental", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteRental", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("RentalPeriod", "GetRentalOverPeriod")

